@font-face {
  font-family: 'Montserrat';
  src: url(./WyqqFgBBkfMgVM3g9VaQT4/xjusfg3HemkZNzMjKXigMe-6d003d5d.woff2) format('woff2'),
       url(./WyqqFgBBkfMgVM3g9VaQT4/xjusfg3HemkZNzMjKXigMe-6d003d5d.woff) format('woff');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./WyqqFgBBkfMgVM3g9VaQT4/r4iFBuBVYyt4AJpSYxKFgm-6d003d5d.woff2) format('woff2'),
       url(./WyqqFgBBkfMgVM3g9VaQT4/r4iFBuBVYyt4AJpSYxKFgm-6d003d5d.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./WyqqFgBBkfMgVM3g9VaQT4/c8ApgwtVBJGdnwZGQTAetm-6d003d5d.woff2) format('woff2'),
       url(./WyqqFgBBkfMgVM3g9VaQT4/c8ApgwtVBJGdnwZGQTAetm-6d003d5d.woff) format('woff');
  font-weight: 700;
  font-style: regular;
}

